body{ 

    background-color:rgb(72, 168, 231)
}
ul{list-style-type: armenian;}

table {
border : 0.5px solid;

padding: 40px;

}

.Actividads{
 
    list-style-type:circle ;
}

.uj1{

    list-style: upper-latin;
    color: rgb(255, 0, 0);
}
/*seccion 5
*/
.genero{
   display: inline-block; 
   margin: 10px auto;
}